.box{
    padding: 0;
    font-family: sans-serif;
    width: 100%;
    overflow: hidden;
    height: 100%;
    background: linear-gradient(#57606f, #2f3542);
    z-index: -2;
}

.usersBox{
    z-index: 0;
    position: absolute;
    top: 70px;
}
h3{
    color: black;
}

.headBoxSearch{
    width: 100%;
    margin-top: -1vw;
    padding-top: 2vw;
    height: 200px;
    background: linear-gradient(#57606f, #2f3542);
}
.headBoxSearchOrder{
    width: 100%;
    margin-top: -1vw;
    padding-top: 2vw;
    height: 180px;
    background: linear-gradient(#57606f, #2f3542);
}
.headBox{
    display: flex;
    width: 100%;
    height: 2.5vw;
    background: #504e4e;
    align-items: center;
}
.all{
    font-size: 1.2vw;
    cursor: pointer;
}

.id{
    letter-spacing: .5px;
    font-size: 1.2vw;
    cursor: pointer;
    width: 2vw;
    margin-right: 1vw;
    margin-left: .8vw;
}
.name{
    letter-spacing: .5px;
    font-size: 1.2vw;
    cursor: pointer;
    width: 4.5vw;
}
.surname{
    letter-spacing: .5px;
    font-size: 1.2vw;
    cursor: pointer;
    width: 6vw;
}
.email{
    letter-spacing: .5px;
    font-size: 1.2vw;
    cursor: pointer;
    margin-left: 2vw;
    width: 8vw;
}
.phone{
    letter-spacing: .5px;
    font-size: 1.2vw;
    cursor: pointer;
    margin-left: 9vw;
    width: 7vw;
}
.age{
    letter-spacing: .5px;
    font-size: 1.2vw;
    cursor: pointer;
    width: 3vw;
    margin-left: 1.4vw;
}
.course_format{
    letter-spacing: .5px;
    font-size: 1.2vw;
    cursor: pointer;
    margin-right: .7vw;
    margin-left: .1vw;
}
.boxBiReset{
    width: 2vw;
    height: 2vw;
    position: absolute;
    cursor: pointer;
    margin-top: 4.6vw;
    margin-left: 89vw;
}
.BiReset{
    transition: .3s;
    font-size: 2.4vw;
    color: #1f1f23;
}
.BiReset:hover{
    transition: .5s;
    font-size: 2.7vw;
}
.conteiner{
    width: 98.8vw;
    background: #57606f;
}

.boxLoader{
    position: fixed;
    z-index: 2;
    background: rgba(44, 44, 44, 0.42);
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}