
.box{
    padding: 0;
    font-family: sans-serif;
    width: 98.7vw;
    height: 100%;
    background: linear-gradient(#57606f, #2f3542);
    /*z-index: -2;*/
}

.adminPanelBox{
    background: linear-gradient(#57606f, #2f3542);
    z-index: 0;
    position: absolute;
    top: 70px;
    width: 100%;

}
h3{
    color: black;
}
.ordersBox{
    display: flex;
    justify-content: center;
    font-family: "Agency FB";
}
.order{
    font-size: 25px;
}
.total{
    margin: 10px;
    font-size: 20px;
}
.totalBox{
    display: flex;
    font-family: "Agency FB";
    justify-content: space-around;
    flex-wrap: wrap;
}
.create{
    font-family: "Agency FB";
    margin-bottom: 30px;
    letter-spacing: 4px;
    width: 200px;
    height: 80px;
    background: #57606f;
    border-radius: 20px;
    box-shadow: 0 0 10px 3px slategray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: .4s;
    margin-left: 10vh;
    cursor: pointer;
}
.create:hover{
    letter-spacing: 2px;
    transition: .6s;
    background-color: darkgrey;
    color: white;
    box-shadow: inset 0 0 20px 10px slategray;
}
.copied{
    font-family: "Agency FB";
    position: absolute;
    margin-left: -40px;

}
.boxLoader{
    position: fixed;
    z-index: 2;
    background: rgba(44, 44, 44, 0.42);
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteiner{
    width: 48.8vw;
    margin-left: 40vw;
}