.headBox{
    /*height: 1000px;*/
}
.header{
    overflow: hidden;
    width: 100%;
    height: 70px;
    background: #2f3542;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headroom {
    z-index: 1;
    position: fixed;
    width: 100%;
}
.logout{
    margin-left: 40px;
    font-size: 30px;
    transition: 1.5s;
}
.logout:hover{
    animation: 2s ease-in-out;
    font-size: 35px;
    transition: 1s;
    color: darkgrey;
    cursor: pointer;
}
.logo{
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-left: 100px;
}
.cogs{
    font-size: 28px;
    margin-left: -200px;
    transition: 1.5s;
    text-transform: none;
    color: black;
}
.cogs:hover{
    animation: 2s ease-in-out;
    font-size: 35px;
    transition: 1s;
    color: darkgrey;
    cursor: pointer;
}